body {
    background-color: cornflowerblue;
}

.card-header, .card-footer, .btn-link {
    background-color: gold;
    color: black;
    font-weight: bolder;
    font-size: larger;
}

.card-body {
    background-color: black;
    color: cornsilk;

}
 


.game-card {
    height: 100vh;
    font-family: 'Open Sans', monospace;
}

#gameLimits {
    text-transform: uppercase;
}

div .card {
    border: 5px ridge indigo;
}